/*  Général */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f1f1f1;
    font-family: 'Roboto';
}

/* Navbar */

.navbar-brand {
    font-family: 'Tourney';
}

/* Header */

header {
    background-image: url('img/imgHeader.webp');
    background-size: cover;
    height: 80vh;
}

.text-intro{
    padding-top: 100px;
    padding-bottom: 200px;
}

.preTxt{
    font-size: 40px;
}

h1 {
    font-size: 90px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 70;
}

/* Event */
#event {
    margin-top: 50px;
}

/* Parallax */

#parallax {
    margin-top: 100px;
    position: relative;
    min-height: 200px;
    background: url(img/LOL_defeat.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color:#fff;
}

#parallax h2{
    font-size: 40px;
    color:#f1f1f1;
}

/* Témoignages */

#temoignages img {
    margin-top: -50px;
}